body {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    background-color: #f8f8ff;
    color: #333;
}
.container{
    background-color: rgb(243, 243, 243);
}

nav {
    background-color: rgb(141, 218, 249);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}

.back-button {
    color: #333;
    padding: 8px 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.back-button:hover {
    background-color: #e3770c;
}

.logo{
    background-color: transparent;
    color: #e3770c; 
    margin-left: 35px;
    padding: 6px;
    font-weight: 800;
    text-align: center;  
    font-family: Poppins,sans-serif;
    white-space: nowrap;
}

.logo:hover{
    background-color: #f7f6f4;
}
#paw {
    padding-left: 20px;
}

.search-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.search-bar {
    margin-right: auto;
   
}

.search-bar input {
    width: 250px;
    padding: 10px;
    border: 4px solid transparent;
    border-radius: 50px;
}

.search-bar button {
    
    color: rgb(0, 0, 0);
    border: 3px solid rgb(141, 218, 249);
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #d44;
}

.user-circle {
    cursor: pointer;
    padding-right: 5px;
}

.user-circle img {
    width: 40px;
    height: 40px;
    border: 3px solid #e3770c;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    text-align: center;
    padding: 5px;
    color: white;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.dropdown-content a:hover {
    background-color: #555;
}

.background {
    background-image: url("istockphoto-1405108065-2048x2048-PhotoRoom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.additional-content {
    margin-top: 20px;
}

.button {
    background-color: #e8491d;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
}

.button:hover {
    background-color: #d44;
    
}

.content {
    padding: 10px;
    background-color: white;
}

#color {
    color: #e3770c;
}

h2 {
    font-weight: 700;
}

.heading {
    text-transform: uppercase;
}

p {
    font-size: 19px;
    text-indent: 20px;
}

.a-image {
    float: right;
    padding-right: 10px;
    padding-top: 0px;
}

a-cont {
    float: left;
    padding-left: 50px;
    font-family: 'Poppins';
    font-size: 30px;
}

.oath-button {
    background-color: #e3770c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline;
}

.oath-button:hover {
    background-color: #d44;
}

.search-login {
    width: 100%;
    text-align: center;
    padding-left: 50%;
}

.oath {
    padding-top: 10px;
    padding-left: 10px;
}

span {
    font-size: 19px;
}

.pet-profile-header {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.info-icon {
    margin-left: 10px;
    cursor: pointer;
    color: #e3770c;
}

/* Style for the tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #e3770c;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.product-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

}

.product-cont {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgb(103, 102, 102),
        0 10px 10px rgb(100, 99, 99);
    transition: .4s;
    background: white;
}

.product-cont:hover {
    box-shadow: 0 3px 6px orange,
        0 3px 6px rgb(16, 16, 16);
    transform: translate(0px, -8px);
}

.product-cont img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}






.product-cont p {
    text-align: center;
    color: #060606;
    padding-top: 0 8px;
    font-family: 'Poppins';
}

h6 {
    font-size: 26px;
    text-align: center;
    color: #060606;
    margin: 0;
}

.product-cont ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.product-cont li {
    padding: 5px;

}

.bx {
    font-size: 20px;
    transition: .4s;

}

.bx-star {
    color: goldenrod;
}

.bx:hover {
    transform: scale(1.3);
    transition: .6s;
}

.product-cont button {
    text-align: center;
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1 {
    background: rgb(0, 0, 0);
}

.buy-2 {
    background: rgb(0, 0, 0);
}

.buy-3 {
    background: rgb(0, 0, 0);
}

.buy-4 {
    background: rgb(0, 0, 0);
}

footer {
    text-align: center;
    background-color: black;
    color: #e3770c;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e3770c;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#scrollToTopBtn:hover {
    background-color: #d44;
}